
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
    </style>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/index.css" />
</head>
<body>
<div class="container">
    <div class="intro">
        <video src="/css/bgMovie.mp4" muted autoplay loop></video>
        <div class="intro-content fade-in-box ">
            <div class="title">
                <h1>iGallery</h1>
                    <span>
                        사진은 단순한 그림이 아닙니다<br/>
                        여러분의 추억이자 낭만입니다<br/>
                        나만의 갤러리를 남들과 공유하세요
                    </span> <br/>
                <button class="intro-btn button1">
                    시작하기
                </button>
            </div>
            <iframe width="500" height="370" src="https://www.youtube.com/embed/sLCiI6d5vTM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="article-content">
        <div class="article-header">
            <ul>
                <li>내 갤러리</li>
                <li>탐색하기</li>
            </ul>
        </div>
        <div class="article-projects">
            <div class="project" onclick="modal_processor()">
                <h1>+</h1>
            </div>
            <div th:each="gallery : ${gallerys}" class="project">
                <h1><a th:href="'/gallery/' + ${gallery.id}" th:text="${gallery.name}"></a></h1>
            </div>
        </div>
    </div>
    <div class="modal hidden">
        <div class="modal-overlay"></div>
        <div class="modal-content">
                <h1>HI modal</h1>
                <form class="modal-item" method="post" action="/gallery">
                    <input name="name" class="modal-g-title" type="text" placeholder="갤러리 이름">
                    <textarea name="sub" placeholder="설명">
                        
                    </textarea>
                    <button class="button2" type="submit">생성하기</button>
                </form>
        </div>
    </div>
</div>
<script src="/js/index.js"></script>
</body>
</html>